@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

nav a {
  color: #fff !important;
}

p {
  margin: 0;
}

section {
  padding: 60px 0;
}

/* HEADER */

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(16, 29, 44, 0.90), rgba(16, 29, 44, 0.90)),
    url("img/Main_Background2.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
}

header > .container {
  position: relative;
  height: 100%;
  padding: 0;
}

/* HEADER HAMBURGER-MENU */

.hamburger-menu {
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #101d2c;
  border-radius: 4px;
  cursor: pointer;
  z-index: 999;
}

.hamburger-menu i {
  font-size: 30px;
  color: rgba(198, 153, 99, 0.7);
  margin: auto;
}

.hamburger-menu .fa-times {
  display: none;
}

/* TOGGLE MENU */

.hamburger-menu .fa-times.open {
  display: block;
}

.hamburger-menu .fa-bars.open {
  display: none;
}

/* HEADER NAV-LIST */

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #101d2c;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.65s;
}

.nav-list.open {
  opacity: 1;
  transform: scale(1);
}

/* HEADER .HERO-TEXT */

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}

.hero-text p {
  color: #BBA35F;
}

/* HEADER .HERO-TEXT BUTTON */

.btn {
  width: 100px;
  padding: 5px 0 !important;
  border: 1px solid #BBA35F;
  position: relative;
  overflow: hidden;
}

/* BUTTON ANIMATION ON HOVER */

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.65s;
}

.btn:hover::before {
  left: 100%;
}

/* DISCOVER SECTION
-------------------------------------------------- */

.section-heading h4 {
  text-transform: uppercase;
  color: #101d2c;
  line-height: 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.section-heading h1 {
  /* font-family: "Teko", cursive; */
  color: #BBA35F;
}

.dots {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  right: -50px;
  fill: #BBA35F;
  display: none;
}


/* BENEFIT SECTION
-------------------------------------------------- */

.benefit {
  background-color: #101d2c;
}

.benefit-info i {
  color: #BBA35F;
  font-size: 50px;
}

.benefit-info h1 {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.benefit-info p,
.benefit-info address {
  color: rgba(255, 255, 255, 0.5);
}

hr {
  border-top: 3px solid rgba(255, 255, 255, 0.05);
}

.fasilitas {
  color: rgba(255, 255, 255, 0.5);
}

.fasilitas a {
  color: #101d2c;
}

/* ROOM TOUR
-------------------------------------------------- */

.card {
  border-width: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-image {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

/* CUSTOMIZE THE MODAL
-------------------------------------------------- */
.carousel-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 4%;
  left: 10%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* CARDS
-------------------------------------------------- */

.row {
  text-align: center;
}

.card img {
  height: 25rem;
  object-fit: cover;
}

.card-body p {
  padding: 0.2rem;
}

.card-footer .btn-outline-primary {
  color: #BBA35F;
  width: auto;
}

.card-footer .btn-outline-primary:hover {
  background-color: #BBA35F;
  border-color: #BBA35F;
  color: #fff;
}

iframe {
  padding-top: 1rem;
}

/* ROOM TOUR
-------------------------------------------------- */
.room-tour {
  background-color: #101d2c;
}

.room-tour h4 {
  color: #fff;
}

/* FAQ
-------------------------------------------------- */
.faq {
  background-color: #fff;
}

/* FLOATING ICON
-------------------------------------------------- */
.icon-btn {
  width: auto;
  border-radius: 1rem;
  right: 2%;
  bottom: 4%;
  position: fixed;
  border-width: 0;
}

.icon-btn span {
  display: none;
  padding-right: 10px;
}

.icon-btn i {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* FOOTER
-------------------------------------------------- */
footer {
  background-color: #101d2c;
  color: rgba(255,255,255,0.5);
}

.footer-btn .col-1 {
  width: auto;
}

.footer-btn i {
  font-size: 1.5rem;
}

/* MEDIA SIZES
-------------------------------------------------- */

@media (min-width: 576px) {
  .hamburger-menu {
    top: 35px;
    right: 25px;
  }

}

@media (min-width: 768px) {
  .btn {
    width: 150px;
  }

  .icon-btn span {
    display: inline-block;
  }

}

@media (min-width: 992px) {
  header > .container {
    padding: 0 15px;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
    flex-direction: row;
    opacity: initial;
    transform: initial;
    transition: initial;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin: 0 30px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    position: relative;
    padding: 0;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #BBA35F;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.65s;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }

  .dots {
    display: block;
  }

  .close {
    left: 95%;
  }

  .modal-content {
    max-width: 600px;
  }
}

/* @media (max-width: 1028px) {

  .close {
    right: 0px;
    left: 35px;
  }
} */

/* @media (min-width: 1200px) { */
  /* .point-left::before,
  .point-right::before {
    display: block;
    top: 50%;
    left: initial;
    transform: translate(0,-50%) rotate(45deg)
  }

  .point-left::before{
    left: -12px;
  }

  .point-right::before{
    right: -12px;
  } */

  /* .menu-item-desc p{
    display: none;
  }

  .menu-item-desc .btn{
    color: #fff !important;
    background-color: #BBA35F;
  }
} */
